:root {
  background-color: #0c171e;
  background-image: url("./backgrounds/bg.png");
  background-repeat: repeat-y;
}

h1 {
  padding: 0;
  margin: 0;
}
.titlepage {
  margin: 0;
  padding: 0;
  background-image: url("./backgrounds/background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40vh;
  color: white;
}

.timeline {
  background-image: url("./backgrounds/background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
}
.about {
  background-image: url("./backgrounds/aboutbg.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat-y;
}

.about img {
  margin-left: 15vw;
  width: 25vw;
  float: left;
}

.about h1 {
  padding-top: 25vh;
  padding-right: 10vw;
  padding-left: 50vw;
  text-align: center;
  color: white;
}

.contact {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 5vh;
  color: white;
}

.icons {
    display: flex;
    justify-content: space-between;
    max-width: 40vw;
    margin: 0 auto;
    padding: 10vh
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
