:root {
  --remblue: #0496eb;
  --coolgrey: #333;
  background-color: #333;
}
.nav {
  background-color: var(--remblue);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#header {
  width: 100%;
  background: var(--coolgrey);
}
.title {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.nav-logo {
  height: 80px;
  width: 80px;
}

.titlecard {
  color: white;
  text-align: center;
  background-blend-mode: darken;
  background-color: var(--remblue);
  max-width: 900px;
}

.stars {
  opacity: 0.6;
  position: sticky;
  margin-left: 100px;
  top: 200px;
}

#star1 {
  height: 40px;
  width: 40px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  font-family: "Arial";
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  transition: color 0.5s;
  color: rgb(255, 255, 255);
}

/* .nav-item > .active {
  transition: color 0.5s;
  color: rgb(253, 117, 253);
} */

.nav-item:hover {
  transition: color 0.5s;
  color: rgb(253, 117, 253);
  cursor: pointer;
}

.image-gallery {
  width: 600px;
}

.section {
  margin: auto;
  max-height: 50%;
  max-width: 100%;
}

.section h3 {
  margin: auto;
  text-align: center;
}

.section {
  transition: 2s;
  background-color: white;
  color: var(--remblue);
}
.section-dark {
  transition: 2s;
  background-color: var(--coolgrey);
  color: white;
}

.section-content {
  display: flex;
  max-width: 100%;
  margin-left: 20%;
  margin-right: 10%;
  padding: 1px;
}

.section-content p {
  margin: auto;
  overflow-wrap: break-word;
  line-height: 1.2;
  font-size: larger;
  margin: 20%;
}

.section-content .left,
.section-content .right {
  flex: 1;
  padding: 20px;
}
